ul{
  list-style: none;
  padding-left:0;
}

li{
  display: flex;
  align-items: center;
  background-color: orange;
  padding:5px;
  margin-bottom: 10px;
  border-radius:5px;
}

.single{
  width: 220px;
}

.hide {
  display: none;
}

.bid{
  display: flex;
  align-items: center;
  justify-content:flex-end;
  width: 200px;
  
}

.tricks{
  display: flex;
  align-items: center;
}

.score{
  display: flex;
  flex-direction: column;
  align-items:center;
}

.label{
  font-weight: bold;
}

div{
  padding-right: 10px;
}

#name {
  width: 100px;
}

button {
  background-color: #eee;
  border-radius: 4px;
  font-size: 1rem;
  height: 25px;
}
button:hover {
  background-color: #cfd8dc;
}

input {
  border: none;
  width: 20px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  background-color: orange;
}
