<button class="" type="button" (click)="endRound()">
  End Round
</button>
<button type="button" routerLink="/setup">New Game</button>
<ul>
  <li *ngFor="let player of players; let i = index">
    <div><input id="name" [(ngModel)]="player.name" placeholder="player {{i+1}}" /></div>
    <div class="bid">
      <p class="label">Bid:</p>
      <button class="increase" type="button" (click)="changeBid(i, -1)">-</button>
      <input id="bid" [(ngModel)]="player.bid" placeholder="0" />
      <button class="decrease" type="button" (click)="changeBid(i, 1)">+</button>
    </div>
    <div class="tricks">
      <p class="label">Trick:</p>
      <button class="increase" type="button" (click)="changeTrick(i, -1)">-</button>
      <input id="tricks" [(ngModel)]="player.tricks" placeholder="0" />
      <button class="decrease" type="button" (click)="changeTrick(i, 1)">+</button>
    </div>
    <div class="score">
      <p class="label">Score</p>
      <input id="score" [(ngModel)]="player.score" placeholder="0" />
    </div>
  </li>
</ul>