button {
  margin:  2px 10px 2px 10px;
  margin-bottom: 0;
  background-color: #eee;
  border-radius: 4px;
  font-size: 1rem;
}
button:hover {
  background-color: #cfd8dc;
}

ul{
  padding-left:0;
  list-style: none;
}

li {
  background-color: orange;
  padding:5px;
  margin-bottom: 10px;
  border-radius:5px;
}

table,
th {
  border: 1px solid;
}

th {
  width: 200px;
  font: 100;
  font-weight: bold;
  padding: 0.5rem;
}

input {
  border: none;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: bold;
  background-color: orange;
}
